.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  img {
    margin: 0 1.5em;
  }
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: stretch;

  .search-input {
    border-radius: 9px;
    border: 2px solid #ddd;
    padding: 12px;
    font-size: 1.2rem;
    outline: none;
    margin: 1em 0 1.5em;
  }

  .button-row {
    display: flex;
    justify-content: space-between;
    .button-wrapper {
      margin: 16px 0;

      button {
        padding: 8px 24px;
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'system-ui';
        border: none;
        border-bottom: #e0f0ff solid 4px;
        cursor: pointer;
        transition: border-bottom 0.4s ease-out;
        &.active {
          border-bottom: #1976d2 solid 4px;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
